[submodule "di"]
	path = di
	url = git@github.com:hwyn/di.git
[submodule "core"]
	path = core
	url = git@github.com:hwyn/core.git
[submodule "csr"]
	path = csr
	url = git@github.com:hwyn/csr.git
[submodule "ssr"]
	path = ssr
	url = git@github.com:hwyn/ssr.git
[submodule "server"]
	path = server
	url = git@github.com:hwyn/server.git
[submodule "dynamic-builder"]
	path = dynamic-builder
	url = git@github.com:hwyn/dynamic-builder.git
[submodule "dynamic-plugin"]
	path = dynamic-plugin
	url = git@github.com:hwyn/dynamic-plugin.git
[submodule "university"]
	path = university
	url = git@github.com:hwyn/university.git
[submodule "ts-tools"]
	path = ts-tools
	url = git@github.com:hwyn/ts-tools.git
[submodule "tools"]
	path = ts-tools/tools
	url = git@github.com:hwyn/tools.git
